.bio {
    grid-area: bio;
    background-color: var(--fourth);
    display: flex;
    flex-direction: column;
    gap: 1.11em;
    padding: 1.11em;
}

.content {
    grid-area: contents;
    background-color: var(--dark);
    overflow: auto;
}

.nav {
    grid-area: nav;
}

.skills {
    background-color: var(--tertiary);
    padding: 1.11em;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

.skillsline {
    background-color: var(--dark);
    flex: 1;
    height: .3em;
}

.skillsintro {
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 1.11em;
}

.divider {
    background-color: var(--dark);
    height: 1em;
}

.contactsection {
    padding: 1.11em;
    display: flex;
    justify-content: space-between;
    background-color:var(--fifth);
    gap: 0.7em;
}

.name {
    text-transform: uppercase;
    font-family: 'Satoshi-Bold', sans-serif;
}

.img {
    width: 100%;
    height: auto;
  }